<!DOCTYPE html>
<html lang="en">
<head>
  <title>Covid-19 News Detection</title>

</head>

<body>
    <div class="row">
        <form action='/search' method="POST" class="col s12">
          <div class="row">
            
                <label for="first_name"><b>Keyword</b></label>
                <br>
              <input   id="kword" name='kword'type="text" class="validate">
            
            
          </div>
    
          <div class="row center">
    
              <button type="submit" class="btn-large waves-effect waves-light orange">Search</button>
          </div>
          <div class="row center">
            {{key }}
          </div>
         
    
          
        </form>
        
          </div>

  </body>
</html>

