/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.header col s12 light
{
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  letter-spacing: 8px;
  position: relative;
  animation: text 3s 1;
}
@keyframes text {
  0%
  {
    color: black;
    
  }
  30%
  {
    letter-spacing: 20px;
    
  }
  85%
  {
    letter-spacing: 8px;
    
  }

}


